<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="assets/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Lets stop cyberbullying Dashboard</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/light-bootstrap-dashboard.css') }}">

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>


    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/pe-icon-7-stroke.css') }}">
</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-image="">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="https://www.myadvo.in/blog/must-read-what-is-cyber-bullying-or-anti-bullying-laws-in-india" class="simple-text">
                   <img src={{url_for('static', filename = 'img/bluelogo.png')}} height="86" width="86"><br> ABUSIV-O-METER
                </a>
            </div>
<br>
            <ul class="nav">
                <li class="active">
                    <a href="{{url_for('dash')}}">
                        <i class="pe-7s-culture"></i>
                        <p>HOME </p>
                    </a>
                </li>
                 <li>
                    <a href="{{url_for('userup')}}">
                        <i class="pe-7s-user"></i>
                        <p> Edit Profile</p>
                    </a>
                </li>
                <li>
                    <a href="{{url_for('trend_analysis')}}">
                        <i class="pe-7s-angle-right-circle"></i>
                        <p>Hashtag Analysis</p>
                    </a>
                </li>
                <li>
                    <a href="{{url_for('tweet_analyzer')}}">
                        <i class="pe-7s-note2"></i>
                        <p> Tweet analysis</p>
                    </a>
                </li>
                <li>
                    <a href="{{url_for('load_account_page')}}">
                        <i class="pe-7s-id"></i>
                        <p>User Account Analysis</p>
                    </a>
                </li>
                <li>
                    <a href="{{url_for('fri')}}">
                        <i class="pe-7s-users"></i>
                        <p>Friends Analysis  </p>
                    </a>
                </li>
                <li>
                    <a href="{{url_for('foll')}}">
                        <i class="pe-7s-users"></i>
                        <p> Followers Analysis</p>
                    </a>
                </li>


            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="https://ifflab.org/how-to-prevent-cyber-bullying-anti-cyber-bullying-laws-in-india/"><font color=" #05386B">Let's Stop Cyberbullying</font> </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">




                         <li class="dropdown">
                            <a href="https://twitter.com/login?lang=en" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-twitter-square "></i>
								<p class="hidden-lg hidden-md">Dashboard</p>

                            </a>
                              <ul class="dropdown-menu">
                                <li><a href="https://twitter.com/login?lang=en"><i class="fa fa-sign-in"></i> Login to twitter</a></li>
                                <li><a href="https://twitter.com/i/flow/signup"><i class="fa fa-pencil"></i> Register with twitter</a></li>

                              </ul>

                        </li>


                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-globe"></i>
                                    <b class="caret hidden-lg hidden-md"></b>
									<p class="hidden-lg hidden-md">
										2 Notifications
										<b class="caret"></b>
									</p>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="https://timesofindia.indiatimes.com/topic/cyberbullying">    <i class="fa fa-minus-square"></i>AntibullyLaws 1</a></li>
                                <li><a href="https://www.forbes.com/sites/niallmccarthy/2018/10/29/new-report-cyberbullying-is-most-prevalent-in-india-infographic/#13476bd77537"><i class="fa fa-square"></i>Cyber crimes 2</a></li>

                              </ul>


                    </ul>
                    <ul class="nav navbar-nav navbar-right">


                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <p><img src="{{url_for('static', filename = 'img/anime3.png')}} " height="30" width="30"><b class="caret"></b>
									</p>

                              </a>
                              <ul class="dropdown-menu">
                                  <li><a href="{{url_for('editP')}}"><i class="fa fa-pencil-square-o"></i>User Profile</a></li>
                                <li><a href="{{url_for('dash')}}"><i class="fa fa-refresh"></i>Refresh</a></li>
                                <li><a href="{{url_for('logout')}}"><i class="fa fa-power-off "></i>Logout</a></li>

                              </ul>
                        </li>



                    </ul>

                </div>
            </div>
        </nav>




        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">

                            <div class="header">
<h4 class="title">IMPACT ON KIDS</h4>

                            </div>

                            <div class="content">
                                 <img src={{url_for('static', filename = 'img/oo.png')}} height="350" width="270"></img>


                                <div class="footer">

                                    <hr>

                                </div>
                            </div>
                    </div>
                        </div>









  <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">

                            <div class="header">
<h4 class="title">BULLY PERFORMANCE</h4>
                                <p class="category"></p>
                            </div>

                            <div class="content">
                              <script>
window.onload = function () {

//Better to construct options first and then pass it as a parameter
var options = {
	animationEnabled: true,
	title: {
		text: "Rating of Bullies",
		fontColor: "Red"
	},
	axisY: {
		tickThickness: 0,
		lineThickness: 0,
		valueFormatString: " ",
		gridThickness: 0
	},
	axisX: {
		tickThickness: 0,
		lineThickness: 0,
		labelFontSize: 18,
		labelFontColor: "Red"
	},
	data: [{
		indexLabelFontSize: 15,
		toolTipContent: "<span style=\"color:#62C9C3\">{indexLabel}:</span> <span style=\"color:#CD853F\"><strong>{y}</strong></span>",
		indexLabelPlacement: "inside",
		indexLabelFontColor: "white",
		indexLabelFontWeight: 600,
		indexLabelFontFamily: "Roboto",
		color: "#05386B",
		type: "bar",
		dataPoints: [
			{ y: 12, label: "12%", indexLabel: "Magazines" },
			{ y: 25, label: "25%", indexLabel: "Social" },
			{ y: 29, label: "29%", indexLabel: "Entertainment" },
			{ y: 30, label: "30%", indexLabel: "News" },
			{ y: 32, label: "32%", indexLabel: "HelloApp" },
			{ y: 39, label: "39%", indexLabel: "Whatsapp" },
			{ y: 50, label: "50%", indexLabel: "Instagram" },
			{ y: 65, label: "65%", indexLabel: "Facebook" },
			{ y: 81, label: "81%", indexLabel: "Twitter" }
		]
	}]
};

$("#chartContainer").CanvasJSChart(options);
}
</script>
                                <div id="chartContainer" style="height: 350px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>



                                <div class="footer">

                                    <hr>

                                </div>
                            </div>
                    </div>
                        </div>




 <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">

                            <div class="header">
<h4 class="title">SOCIAL PLATFORMS</h4>
                                <p class="category"></p>
                            </div>

                            <div class="content" >
                                 <img src={{url_for('static', filename = 'img/newgraph.jpg')}} height="500" width="700"></img>


                                <div class="footer">

                                    <hr>


                                </div>
                            </div>
                    </div>
                        </div>




    </div>
</div>


</div>
                     <footer class="footer">
            <div class="container-fluid">

                <nav class="pull-left">
                    <ul>

                        <li>
                            <a href="{{url_for('hh')}}">
                              <u><font color="#05386B">View Twitter Comparison in countries</font></u>
                            </a>
                        </li>

                    </ul>
                </nav>

            </div>
        </footer>
                </div>

 </body>


</html>
